<div class="az-tile-ribbon{% if include.class %} {{ include.class }}{% endif %}" aria-hidden="true">
  <span class="az-tile az-tile--star"></span>
  <span class="az-tile az-tile--petal"></span>
  <span class="az-tile az-tile--cross"></span>
  <span class="az-tile az-tile--flower"></span>
  <span class="az-tile az-tile--diamond"></span>
  <span class="az-tile az-tile--petal"></span>
  <span class="az-tile az-tile--star"></span>
  <span class="az-tile az-tile--cross"></span>
  <span class="az-tile az-tile--flower"></span>
  <span class="az-tile az-tile--diamond"></span>
  <span class="az-tile az-tile--petal"></span>
  <span class="az-tile az-tile--star"></span>
</div>
