{%- comment -%}
  Registry-driven case-visual dispatcher.
  Routes on visual.type via _data/designs.yml.case_visuals.
  Required params: design ("default"|"mondrian"|...), visual, screenshots.
{%- endcomment -%}
{% assign case_visual = include.visual %}
{% assign design_key = include.design | default: include.variant | default: 'default' %}
{% assign design_obj = site.data.designs | where: 'value', design_key | first %}
{% assign render_path = design_obj.case_visuals[case_visual.type] %}
{% if render_path %}
{% include {{ render_path }} visual=case_visual screenshots=include.screenshots %}
{% endif %}
